/**
 * Project - Art Project
 */

.ap {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 6rem;
    background-color: $bodyBg;

    &__inner {
      height: 100%;
    }

    .gNav {
      height: 100%;

      &__siteBrand {
        flex: 0 1 13.5rem;
        margin: 0;
        line-height: 1;
      }

      &__primaryMenu {
        @include listUnstyled();
        //flex: 0 1 54rem;
        flex: 0 1 48rem;
        margin: 0;
        padding: 0 space(2);

        @media (min-width: breakpoint("lg")) {
          @include row();
        }
      }
    
      &__menuItem {
        margin: 0;
        line-height: 1;
    
        a {
          color: $bodyColor;
          font-weight: 700;
    
          &:hover {
            color: $linkHoverColor;
          }
        }
      }
    }
  }

  &-hero {
    position: relative;
    @include row(center, center);
    width: 100%;
    height: 75vw;
    margin-top: 6rem;
    color: themeColor("background");
    text-align: center;

    @media (min-width: breakpoint("sm")) {
      height: min(calc(100vh - 6rem), 48rem);
    }

    &__content {
      h1 {
        color: themeColor("background");
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        font-size: min(8vw, 3rem);
      }
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
  
      @media (min-width: breakpoint("sm")) {
        height: min(calc(100vh - 6rem), 48rem);
      }
    }
  
    &__coverImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      transition: 1s linear opacity;

      @for $i from 1 through 6 {
        &.--num_#{$i} {
          background-image: url("/data/themes/discoverechizen/assets/art-project/main0#{$i - 1}.jpg");
        }
      }
      
      &.--fade {
        opacity: 0;
        transition: none;
      }
    }
  }

  &-section {
    scroll-margin-top: 3rem;

    &.--recent-project, &.--archives, &.--team, &.--contact {
      padding-top: space(4);
      padding-bottom: space(4);
    }

    &.--concept, &.--story, &.--access {
      scroll-margin-top: 6rem;
      position: relative;
    }

    &__titleArea {
      @extend %__titleArea;
    }
  
    &__title {
      @extend %__title;
    }
  
    &__titleText {
      @extend %__titleText;
    }
  
    &__container {
      @extend %__containerLg;
    }

    &__image {
      @media (min-width: breakpoint("sm")) {
        position: absolute;
        top: -3rem;
        right: 0;
        width: 45%;
        height: min(66.67vh, 36rem);
  
        .ap-section.--story & {
          left: 0;
          right: auto;
        }
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  
    &__inner {
      padding-top: space(4);
      padding-bottom: space(4);
      background-color: $bodyBg;
  
      .--concept &, .--story & {
        padding-top: 0;
        padding-bottom: 0;
  
        @media (min-width: breakpoint("sm")) {
          padding-top: space(4);
          padding-bottom: space(4);
        }
      }
  
      .--concept & {
        background-color: #d1f0fc4d;
      }
    }
  
    &__container {
      @extend %__containerLg;
      max-width: breakpoint("lg");
  
      .--concept &, .--story & {
        padding-bottom: space(4);
      }
    }
  
    &__content {
      padding: 0 space(2);
  
      h2 {
        margin-top: 0;
        margin-bottom: space(3);
        padding-top: space(3);
        line-height: 1.2;

        span {
          display: inline-block;
        }
      }
  
      p {
        margin-bottom: space(2);
        text-align: justify;

        @media (max-width: breakpoint("md") - 0.1) {
          br {
            display: none;
          }
        }
      }
  
      @media (min-width: breakpoint("sm")) {
        width: 50%;
  
        .ap-section.--story & {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
