<!-- wp:template-part {"slug":"ap-header","theme":"discoverechizen","tagName":"header","className":"ap-header"} /-->

<!-- wp:group {"tagName":"main","className":"ap-main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group ap-main"><!-- wp:html -->
<header id="hero" class="ap-hero">
  <div class="ap-hero__content">
    <h1><img src="/data/themes/discoverechizen/assets/art-project/logo_hariisha.png" alt="はりいしゃレジデンシー" title="はりいしゃレジデンシー"></h1>
  </div>
  <div class="ap-hero__cover fader">
    <div class="ap-hero__coverImage --num_1"></div>
    <div class="ap-hero__coverImage --num_2"></div>
    <div class="ap-hero__coverImage --num_3"></div>
    <div class="ap-hero__coverImage --num_4"></div>
    <div class="ap-hero__coverImage --num_5"></div>
    <div class="ap-hero__coverImage --num_6"></div>
  </div>
</header>  
<!-- /wp:html -->
<!-- wp:group {"tagName":"section","align":"wide","className":"ap-section --recent-project","layout":{"type":"constrained"}} -->
<section id="recent-project" class="wp-block-group alignwide ap-section --recent-project"><!-- wp:group {"align":"wide","className":"ap-section__inner","style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide ap-section__inner" style="padding-top:1.5rem;padding-bottom:1.5rem"><!-- wp:group {"align":"wide","className":"ap-section__titleArea","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ap-section__titleArea"><!-- wp:html -->
<div class="ap-section__title">
  <h2 class="ap-section__titleText --bottom" data-comfort="1">最新のプロジェクト</h2>
  <p class="ap-section__titleText --top" data-comfort="1">recent projects</p>
</div>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[17]}},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"postList \u002d\u002dlist","layout":{"type":"default"}} -->
<!-- wp:group {"className":"postItem","layout":{"type":"constrained"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"もっと詳しく \u0026gt;","excerptLength":100,"className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:html -->
<section id="concept" class="ap-section --concept">
  <div class="ap-section__image">
    <img src="/data/themes/discoverechizen/assets/art-project/main00.jpg">
  </div>
  <div class="ap-section__inner">
    <div class="ap-section__container">
      <div class="ap-section__content">
        <h2><span>越前の風土に触れ、</span><span>新しい文化の風を起こす</span></h2>
        <p>福井市越前海岸の旧街道に佇む、古民家「はりいしゃ」。
          <br>その背景には、時に厳しく、時に優しく、四季折々の表情を見せる日本海の風景によって育まれた独自の文化があります。</p>
        <p>「はりいしゃレジデンシー」は、越前の風土に触れ、地域の特色や魅力と向き合いながら、招聘作家に滞在制作・展示会を行って頂くプログラムです。
          <br>私たちとの交流を通じて地域の暮らしを体験し、地域独自の文化・風景を発見する機会を設け、作品を制作し、展示会を通して発表して頂きます。</p>
        <p>本プログラムを提供する「越前海岸盛り上げ隊」は、ガラス作家、版画家、クラゲの専門家、漁師、きこり、製塩業、飲食業、旅館業、グラフィックデザイナー、プログラマー等、様々な専門性を持つ異業種の集まりです。</p>
        <p>私たちは、地域に新しい文化の風を起こす仲間を探しています。発表する作品のジャンルは美術・工芸・音楽など、文化活動の域を問いません。</p>
        <p>「真の豊かさ」が問われる時代、今こそ見直されるべき地方の暮らしから、都市生活の中で見失われつつある、「新しい価値」を見出しに来て下さい。</p>
      </div>
    </div>
  </div>
</section>
<section id="story" class="ap-section --story">
  <div class="ap-section__image">
    <img src="/data/themes/discoverechizen/assets/art-project/main01.jpg">
  </div>
  <div class="ap-section__inner">
    <div class="ap-section__container">
      <div class="ap-section__content">
        <h2><span>手仕事の温もりが残る、</span><span>海辺の古民家ギャラリー</span></h2>
        <p>越前海岸は、豊かな里海と里山に囲まれた、稀有な自然環境が特徴です。
          <br>同時に地域では過疎問題も深刻であり、古民家「はりいしゃ」は、過疎の波に対抗すべく結成した「越前海岸盛り上げ隊」がクラウドファンディングで資金を集め、仲間達の手でリノベーションを行ってきました。</p>
        <p>はりいしゃは、日本建築の母屋に、西洋風の元鍼灸院が併設しています。
          <br>板張りの床や引き戸のガラス窓など、所々に昭和の懐かしい雰囲気が漂い、また意匠の凝った柱や建具には、シンプルな道具だけを使って職人の技でもって仕上げたような、そんな手仕事の温もりが残っています。</p>
        <p>今は寂れた漁村ですが、海と山が近い独特な風土から育まれた食文化、世代を超えて熱い想いによって受け継がれてきた祭り、季節ごとの表情を持ち荒々しくも美しい日本海を望む風景など、この土地ならでは文化は、ここで暮らす人々の営みの中に、自ずと垣間見ることができます。</p>
        <p>はりいしゃは、かつて当たり前のように存在し、今失われつつあるその価値を振り返り、再認識を試みる場所です。</p>
      </div>
    </div>
  </div>
</section>
<!-- /wp:html -->

<!-- wp:group {"tagName":"section","align":"wide","className":"ap-section --access","layout":{"type":"constrained"}} -->
<section id="access" class="wp-block-group alignwide ap-section --access"><!-- wp:group {"align":"wide","className":"ap-section__titleArea","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ap-section__titleArea"><!-- wp:html -->
<div class="ap-section__title">
  <h2 class="ap-section__titleText --bottom" data-comfort="1">アクセス</h2>
  <p class="ap-section__titleText --top" data-comfort="1">access</p>
</div>
<!-- /wp:html --></div>
<!-- /wp:group --><!-- wp:html -->
<div class="embed">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12905.112909647174!2d136.0130092!3d36.0379151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8c9e5af5a570d%3A0x1985eca1de905ca7!2z44Gv44KK44GE44GX44KDIOi2iuWJjea1t-WyuOebm-OCiuS4iuOBkumaiuS6pOa1geaWveiorQ!5e0!3m2!1sja!2sjp!4v1733638768747!5m2!1sja!2sjp"></iframe>
</div>
<!-- /wp:html --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"wide","className":"ap-section --archives","layout":{"type":"constrained"}} -->
<section id="archives" class="wp-block-group alignwide ap-section --archives"><!-- wp:group {"align":"wide","className":"ap-section__inner","style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide ap-section__inner" style="padding-top:1.5rem;padding-bottom:1.5rem"><!-- wp:group {"align":"wide","className":"ap-section__titleArea","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ap-section__titleArea"><!-- wp:html -->
<div class="ap-section__title">
  <h2 class="ap-section__titleText --bottom" data-comfort="1">活動実績</h2>
  <p class="ap-section__titleText --top" data-comfort="1">archives</p>
</div>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":1,"query":{"perPage":7,"pages":0,"offset":3,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[17]}},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"postList \u002d\u002dlist","layout":{"type":"default"}} -->
<!-- wp:group {"className":"postItem","layout":{"type":"constrained"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"もっと詳しく \u0026gt;","excerptLength":100,"className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->
  
<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><a href="/category/art-project/page/2/">&gt;&gt;&gt; 「アートプロジェクト」をもっと見る</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"wide","className":"ap-section --team","layout":{"type":"constrained"}} -->
<section id="team" class="wp-block-group alignwide ap-section --team"><!-- wp:group {"align":"wide","className":"ap-section__titleArea","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ap-section__titleArea"><!-- wp:html -->
<div class="ap-section__title">
  <h2 class="ap-section__titleText --bottom" data-comfort="1">運営チーム</h2>
  <p class="ap-section__titleText --top" data-comfort="1">team</p>
</div>
<!-- /wp:html --></div>
<!-- /wp:group -->
<!-- wp:cover {"dimRatio":30,"overlayColor":"primary-light","isDark":false,"align":"wide","className":"\u002d\u002dprofile"} -->
<div class="wp-block-cover alignwide is-light --profile"><span aria-hidden="true" class="wp-block-cover__background has-primary-light-background-color has-background-dim-30 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:block {"ref":6317} /--></div></div>
<!-- /wp:cover --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"wide","className":"ap-section --contact","layout":{"type":"constrained"}} -->
<section id="contact" class="wp-block-group alignwide ap-section --contact"><!-- wp:group {"align":"wide","className":"ap-section__titleArea","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ap-section__titleArea"><!-- wp:html -->
<div class="ap-section__title">
  <h2 class="ap-section__titleText --bottom" data-comfort="1">お問い合わせ</h2>
  <p class="ap-section__titleText --top" data-comfort="1">contact</p>
</div>
<!-- /wp:html --></div>
<!-- /wp:group -->
<!-- wp:group {"className":"ap-section__container","layout":{"type":"constrained"}} -->
<div class="wp-block-group ap-section__container"><!-- wp:contact-form-7/contact-form-selector {"id":5785,"hash":"c63d736","title":"お問い合わせ"} -->
<div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="c63d736" title="お問い合わせ"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"discoverechizen","tagName":"footer","className":"footer"} /-->